<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.audiorecipe">
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-feature android:name="android.hardware.sensor.ambient_temperature" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.light" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="내귀에 레시피"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AudioRecipe">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Recipe.RecipeMusic"></activity>
        <activity android:name=".Recipe.RecipeDetail"></activity>
        <activity android:name=".Recipe.Remen"></activity>
        <activity android:name=".Recipe.RemenDetail"></activity>
        <activity android:name=".Recipe.Duruchigi"></activity>
        <activity android:name=".Recipe.DuruchigiDetail"></activity>
        <activity android:name=".Help"></activity>
        <activity android:name=".Sign1"></activity>
        <activity android:name=".Sign2"></activity>
        <activity android:name=".Sign3"></activity>
        <activity android:name=".Catejava.Catesetting" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".Catejava.Catesetting2" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".Catejava.Catesetting3" android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".PopupClass" android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".PopupClass2" android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".PopupClass3" android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>