<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.AppProject.audiorecipe">
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-feature android:name="android.hardware.sensor.ambient_temperature" android:required="true" />
    <uses-feature android:name="android.hardware.sensor.light" android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="내귀에 레시피"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AudioRecipe">
        <activity android:name="com.AppProject.audiorecipe.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.AppProject.audiorecipe.Recipe.RecipeMusic"></activity>
        <activity android:name="com.AppProject.audiorecipe.Recipe.RecipeDetail"></activity>
        <activity android:name="com.AppProject.audiorecipe.Recipe.Remen"></activity>
        <activity android:name="com.AppProject.audiorecipe.Recipe.RemenDetail"></activity>
        <activity android:name="com.AppProject.audiorecipe.Recipe.Duruchigi"></activity>
        <activity android:name="com.AppProject.audiorecipe.Recipe.DuruchigiDetail"></activity>
        <activity android:name="com.AppProject.audiorecipe.Sign1"></activity>
        <activity android:name="com.AppProject.audiorecipe.Sign2"></activity>
        <activity android:name="com.AppProject.audiorecipe.Sign3"></activity>
        <activity android:name="com.AppProject.audiorecipe.Catejava.Catesetting" android:parentActivityName="com.AppProject.audiorecipe.MainActivity"></activity>
        <activity android:name="com.AppProject.audiorecipe.Catejava.Catesetting2" android:parentActivityName="com.AppProject.audiorecipe.MainActivity"></activity>
        <activity android:name="com.AppProject.audiorecipe.Catejava.Catesetting3" android:parentActivityName="com.AppProject.audiorecipe.MainActivity"></activity>
        <activity android:name="com.AppProject.audiorecipe.PopupClass" android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.AppProject.audiorecipe.PopupClass2" android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.AppProject.audiorecipe.PopupClass3" android:theme="@android:style/Theme.Dialog" />
        <activity android:name="com.AppProject.audiorecipe.MenualFragment.MenualActivity"></activity>

    </application>

</manifest>